*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    background: #e55d87; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5fc3e4, #e55d87); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #5fc3e4,
        #e55d87
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow-x: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome {
    font-size: 50px;
    color: #cbf0f8;
    padding: 5px;
    margin-top: 30px;
    text-align: center;
}

.home {
    width: 80vw;
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    align-items: center;
    padding: 40px;
    justify-content: middle;
}

.middle {
    padding: 30px;
    font-size: 32px;
    color: #2b2728;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 180px;
    border-radius: 15px;
}

.start-btn a {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(0, 162, 255);
    color: #f6f6f6;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
    transition: 0.5s ease background-color;
}

.start-btn :hover {
    color: #2b2728;
    background-color: #ff598b;
}

.about {
    text-align: center;
    white-space: normal;
    margin-top: 80px;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h2 {
    font-size: 52px;
    color: #2b2728;
}

.about h1 {
    padding: 40px;
    color: rgb(11, 55, 80);
}
.about p {
    white-space: normal;
    padding: 5px;
    width: 85%;
    line-height: 33px;
    font-weight: 700;
    font-size: 30px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instruction {
    margin: 60px 0;
    text-align: center;
    border-radius: 8px;
    padding: 24px 0;
    font-size: 40px;
    display: inline-block;
    justify-content: left;
    width: 60%;
    color: #f6f6f6;
    background-color: #2b2728;
}
input {
    width: 580px;
    float: left;
    padding: 22px 20px;
    align-items: left;
    justify-content: left;
    margin: 22px 45px;
    box-sizing: border-box;
    border-radius: 4px;
}
textarea {
    align-items: center;
    justify-content: center;
    margin: 18px 45px;
    width: 580px;
    float: left;
    padding: 22px 20px;
    border-radius: 4px;
}
#send {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 25px;

    padding: 10px 40px;
    background-color: rgb(0, 162, 255);
    align-items: center;
    margin-left: 260px;
    border-radius: 5px;
    transition: 0.5s ease background-color;
    outline: none;
    border: none;
}

#send:hover {
    background-color: #ff598b;
}

.status {
    color: #b8ffde;
    font-size: 30px;
    text-align: center;
}

.status.success {
    background-color: #ee7752;
    color: wheat;
    animation: status 4s ease forwards;
}
@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}
