*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;

    max-width: 100%;
    display: flex;
    max-height: 30%;
    background-color: #2b2728;
    padding: 20px;

    background-color: greenyellow;
    padding: 2rem;

}
.menu a {
    text-decoration: none;

    font-size: 25px;
    color: #f6f6f6;
    padding: 0 40px;
}
.menu a:hover {
    text-decoration: none;
    font-size: 25px;
    color: #ff598b;
    padding: 0 40px;

    color: blueviolet;
    margin-left: 4rem;
    font-size: 1.5rem;
}

a:hover{
    text-decoration: underline;
    /* color: rgb(221, 18, 160); */
    color: rgb(230, 76, 59);

}

.main {
    
    padding: 30px;
    font-size: 32px;
    color: #2b2728;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    max-width: 100vw;
    max-height: 100vh ;
    border-radius: 15px;
}
.question h1 {
    top: 0;
    position: relative;
    font-size: 25px;
}

.question textarea {
    margin: 20px 0px;
    font-size: 30px;
    color: black;
    background-color: aliceblue;

    width: 700px;

    width: 90%;

    height: 170px;
    border: none;
}

.option {
    padding: 15px 40px;
    margin: 0 10px;
    box-sizing: content-box;

    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    outline: none;
    border: none;
}

.tool-btn{
    padding: 15px;
    box-sizing: content-box;
    border-radius: 5px;
    background-color: #ff598b;
    outline: none;
    border: none;
    margin: 20px 5px;
    width: 60px;
}



    border-radius: 3px;
    box-shadow: 0 0 0.3px 0.3px;
    background-color: yellow;
    cursor: pointer;
}

#buttons {
    padding: 10px 16px 10px 20px;
    size: 25px;
}

.previous-btn {
    border-radius: 3px;
    margin-right: 20px;
    margin-left: 6px;
    width: 100px;
    height: 40px;
    background-color:rgb(238, 39, 172);
}

.previous-btn:hover,.next-btn:hover{
    background-color: rgb(175, 2, 117);
    color: papayawhip;
}
.next-btn {
    margin-left: 7px;
    margin-right: 20px;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    background-color:rgb(238, 39, 172);
}

.uncheck-btn {
    width: 100px;
    height: 40px;
    margin-left: 300px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: rgb(21, 187, 243);
}

.save-btn {
    width: 100px;
    height: 40px;
    border-radius: 3px;
    margin-left: 7px;
    margin-right: 20px;
    background-color: rgb(21, 187, 243);
}

.uncheck-btn:hover,.save-btn:hover{
    background-color:rgb(3, 136, 180);
    color: rgb(253, 170, 235);
}
#btn{
    cursor: pointer;
}

